/* Imports */

@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap%27);
@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Playfair+Display:wght@600&display=swap);

/* Initialisation */
:root {
    --primary-color: #694873; 
    --secondary-color: #dbdbdb; 
    --third-color: #030303; 
    --fourth-color: #eaeaea;
    --title-font: "Playfair Display", serif;
    --text-font: "Fira Sans", serif;
}

/* Styles globaux */

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

section {
    width: 80vw!important;

}

/* Styles header */

header {
    display: flex;
    width: 20vw;
    align-content: right;
}

nav {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 100vh;
    position: fixed;
    justify-content: center;
}

nav ul {
    list-style: none;
    color: var(--secondary-color);
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: 300;
    line-height: 3.5rem;
    display: none;
}

@media screen and (min-width:992px ) {
    nav ul {
        display: block;
    }

}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo {
    width: 15vw;
    height: auto;
    margin: 15px;
    max-width: 200px;
}



.titleHome {
    
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 3rem;
}

@media screen and (min-width:992px ) {
    .titleHome{
    margin-left: 10rem;
    }

  

}

h1 {
   color: var(--primary-color);
    font-size: max(6vw, 2.25rem);
    font-family: var(--title-font);
    padding: 30px 30px 30px 0;
}

.titleHome p {
    color: var(--primary-color);
    font-family: var(--text-font);
    font-size: 1.5rem;
    border-left: 2px solid var(--primary-color);
    padding: 30px;
}

.titleHome p span {
    font-size: 4rem;
    font-family: var(--text-font);
}

/* styles cards */

h2 {
    font-family:  var(--text-font);
    
}

.cities {
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.cities .time {
    position: relative;
    padding-bottom: 20vh;
    font-size: 8rem;
    font-family: var(--text-font);
    text-shadow: 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color);
}

.cities h2  {
    position: relative;
    padding-top: 20vh;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color);
}



.paris{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.paris::before {    
    content: "";
    background-image: url("images/Paris_jour.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}



.washington{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.washington::before {    
    content: "";
    background-image: url("images/Washington_jour.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}


.mexico{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.mexico::before {    
    content: "";
    background-image: url("images/Mexico_jour.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}



.sydney{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sydney::before {    
    content: "";
    background-image: url("images/Sydney_jour.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}




.tokyo{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.tokyo::before {    
    content: "";
    background-image: url("images/Tokyo_jour.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

.leCaire{
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.leCaire::before {    
    content: "";
    background-image: url("images/Le_Caire_jour.png");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

/* styles cards */

.end{
    background-color: var(--secondary-color);
    padding:3rem 3rem 3rem 3rem;
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e";
    gap:3rem;
    
}

@media screen and (min-width:992px ) {
    .end{
       
        display: grid;
        grid-template-areas: 
            "a b"
            "c d"
            "e e";
        gap: 3rem;
        
    }

}

.end article:nth-child(1) {
    grid-area: a;

} 

.end article:nth-child(2) {

    grid-area: b;
}

.end article:nth-child(3){
  
    grid-area: c;
}
.end article:nth-child(4) {
   
    grid-area: d; 
} 


article>h3{
    font-family:  var(--text-font);
    font-size: 3rem;
    color: var(--primary-color);
    margin-bottom: 20px;
}

article>p{
    font-size: 4rem;
    font-family: var(--text-font);
    color: var(--primary-color);
    margin-bottom: 20px;
}

footer>p {
    font-family: var(--text-font);
    font-size: 1.2rem;
}


footer {
    border-top: 1px solid var(--primary-color);
    padding-top: 1.5rem;
    color: var(--primary-color);
    grid-area: e;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}