/* Imports */

@import url(https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap%27);
@import url(https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400&family=Playfair+Display:wght@600&display=swap);

/* Initialisation */
:root {
    --primary-color: #694873; 
    --secondary-color: #dbdbdb; 
    --third-color: #030303; 
    --fourth-color: #eaeaea;
    --title-font: "Playfair Display", serif;
    --text-font: "Fira Sans", serif;
}

/* Styles globaux */

* {
    box-sizing: border-box;
    margin: 0;
    font-family: var(--text-font);
}

body {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    height: 100%;
}

main {
    width: 80vw!important;
}

/* Styles header */

header {
    background-color: var(--primary-color);
    display: flex;
    width: 20vw;
    height: auto;
    flex-direction: column;
    align-items: center;
}

nav {
    background-color: var(--primary-color);
    top: 25%;
    position: fixed;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: var(--text-font);
    font-size: 2rem;
    font-weight: 400;
    line-height: 3.5rem;
}

.navMobile {
    display: block;
    padding: 0.5rem;
    border-radius: 20rem;
}

.navMobile ul {
    display: flex;
    flex-direction: column;
    gap: 3.8rem;
}

.navDesktop {
    display: none;
}


.round {
    border-radius: 100%;
    background-color: var(--secondary-color);
    width: 2rem;
    height: 2rem;
}

li a {
    display: block;
    color: var(--secondary-color) ;
    text-decoration: none;
}



@media screen and (min-width:992px ) {
    .navMobile {
        display: none;
    }

    .navDesktop {
        display: inline-block;
    }

}

.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

.logo {
    width: 15vw;
    height: auto;
    margin: 15px;
    max-width: 200px;
}

.titleHome {
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 3rem;
    
}

@media screen and (min-width:992px ) {
    .titleHome{
    margin-left: 10rem;
    }


}

h1 {
   color: var(--primary-color);
    font-size: max(6vw, 2.25rem);
    font-family: var(--title-font);
    padding: 30px 30px 30px 0;
}

.titleHome p {
    color: var(--primary-color);
    font-family: var(--text-font);
    font-size: 1.5rem;
    border-left: 2px solid var(--primary-color);
    padding: 30px;
    word-break: break-word;
}

.titleHome p span {
    font-size: 4rem;
    font-family: var(--text-font);
}

/* styles section villes majeures */

h2 {
    font-family:  var(--text-font);
    
}

.city {
    position: relative; 
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.city .time {
    position: relative;
    font-size: 8rem;
    font-family: var(--text-font);
    text-shadow: 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color);
}

.city h2  {
    position: relative;
    font-size: 3rem;
    font-weight: 400;
    text-shadow: 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color), 0 0 50px var(--fourth-color);
}



#paris::before {    
    content: "";
    background-image: url("../assets/Paris_jour.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}



#washington::before {    
    content: "";
    background-image: url("../assets/Washington_jour.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}


#mexico::before {    
    content: "";
    background-image: url("../assets/Mexico_jour.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

#sydney::before {    
    content: "";
    background-image: url("../assets/Sydney_jour.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}


#tokyo::before {    
    content: "";
    background-image: url("../assets/Tokyo_jour.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}


#leCaire::before {    
    content: "";
    background-image: url("../assets/Le_Caire_jour.png");
    background-size: cover;
    background-position: center;
    position: absolute;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}

#cityTest::before {    
    content: "";
    background-image: url("../assets/Le_Caire_jour.png");
    background-size: cover;
    background-position: center;
    position: absolute;

    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.8;
}


@media screen and (min-width:992px ) {
    .mobile {
        display: none; 
    }
}

/* styles cards */

.end{
    background-color: var(--secondary-color);
    padding:3rem 3rem 3rem 3rem;
    height: 100vh;;
    display: grid;
    grid-auto-rows: auto;
    grid-template-areas: 
        "a"
        "b"
        "c"
        "d"
        "e";
    gap:3rem;
    
}

@media screen and (min-width:992px ) {
    .end{
       
        display: grid;
        grid-template-areas: 
            "a b"
            "c d"
            "e e";
        gap: 3rem;
        
    }

}

.end article:nth-child(1) {
    grid-area: a;

} 

.end article:nth-child(2) {

    grid-area: b;
}

.end article:nth-child(3){
  
    grid-area: c;
}
.end article:nth-child(4) {
   
    grid-area: d; 
} 

article>h3{
    font-family: var(--text-font);
    font-size: 2rem;
    color: var(--primary-color);

}
article>p{
    font-size: 2.5rem;
    font-family: var(--text-font);
    color: var(--third-color);
    margin-bottom: 20px;
}

@media screen and (min-width:992px){
    article>h3{
        font-size: 3rem;
        margin-bottom: 20px;
    }
    article>p {
        font-size: 4rem;
    }
}

footer>p {
    font-family: var(--text-font);
    font-size: 1.2rem;
}


footer {
    border-top: 1px solid var(--primary-color);
    padding-top: 1.5rem;
    color: var(--primary-color);
    grid-area: e;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
}